.component {
  a {
    text-decoration: none;
    color: $primary2Color;
    span {
      color: $primary2Color !important;
    }
  }

  .active {
    > div {
      border-left: 3px solid $accent1Color;
    }
  }
}
