.item {
  .content {
    width: 100%;
    overflow: hidden;
    a {
      float: left;
    }
  }
  .confirmationContent {
    display: none;
  }

  :hover .icons {
    display: block;
  }

  &.removeRequested {
    /*overflow: hidden;*/
    .content {
      display: none;
    }
    .confirmationContent {
      display: inline;

      > span {
        padding: 16px 7px;
        display: inline-block;
      }
      .confirmLabel {
        width: 61%;
        text-align: center;
      }
      .confirmDelete {
        background-color: #f33;
      }
      .cancelDelete {
        background-color: grey;
      }
    }
    :hover .icons {
      display: none;
    }
  }


  > div {
    > div {
      padding: 0 !important;
    }
  }

  a {
    text-decoration: none;
  }
  a.label {
    display: block;
    position: relative;
    padding: 16px;
    width: 70%;

    &.active {
      border-left: 3px solid red;
    }
  }

  .icons {
    float: right;
    display: none;
    position: relative;
    top: 14px;
  }
}
