.container {
  overflow: hidden;
  .item {
    float: right;
    text-decoration: none;
    [type="button"] {
      -webkit-appearance: none !important;
      appearance: none !important;
    }
  }
  .active {
    border-top: 3px solid red;
  }
}
